.footer {
  width: 100%;
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-text {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.footer img {
  margin-top: 65px;
  width: 122px;
  height: 40px;
}

/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/

@media (732px > width) {
  .footer-text {
    width: 120px;
    font-size: 12px;
    font-weight: 500;
    color: white;
  }
}
