.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  border-radius: 25px;
  padding-top: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
  gap: 30px;
}

.home-container {
  position: relative;
  display: flex;
  width: 340px;
  height: 340px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: #ff6060;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-container img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  margin-top: 5%;
  margin-left: 5%;
}

.home-text {
  position: absolute;
  top: 293px;
  left: 17px;
  width: 300px;
  height: 70px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/

@media (732px <= width) {
  .home {
    width: 96%;
  }
}
